.banner-instagram-feed {
  padding-block: var(--block-padding);

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .insta-gallery-actions .insta-gallery-button.follow {
    background-color: var(--clr-orange) !important;
    color: var(--clr-white) !important;
    font-family: var(--ff-body) !important;
    font-size: var(--fs-body) !important;
    transition: color 300ms ease-in-out !important;
    border-radius: var(--border-radius) !important;

    &:hover {
      box-shadow: none;
      color: var(--clr-grey) !important;
    }
  }

  .qligg-icon-next,
  .qligg-icon-prev {
    color: var(--clr-white) !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--clr-white) !important;
  }
}
