@font-face {
  font-family: Bungee Regular;
  src: url("./src/assets/fonts/Bungee/Bungee-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Open Sans;
  src: url("./src/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
  font-weight: 400;
}
