h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-heading);
}

h1 {
  font-size: var(--fs-primary-heading);
}

p,
input,
textarea,
button,
a {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}
